#progress {
  padding: 1rem 1.25rem;
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;

  & .progress-container {
    display: grid;
    gap: 0.25rem;
    flex: 1;

    & > p {
      font: var(--text-sm);
      color: var(--gray-500);

      & span {
        font: var(--title-sm);
        color: var(--gray-600);
        margin-right: 0.125rem;
      }
    }

    & > div {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      & .progress-bar-container {
        flex: 1;
        height: 0.5rem;
        border-radius: 9999px;
        background: var(--gray-300);

        & > div {
          background: var(--gradient);
          height: inherit;
          border-radius: inherit;
        }
      }

      & > p {
        font: var(--text-xs);
        color: var(--gray-500);
      }
    }
  }

  & .gift-icon {
    width: 56px;
    height: 56px;
    background: var(--gray-200);
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 25px;
      height: 25px;
      object-fit: cover;
    }
  }
}

@media (width >= 64em) {
  #progress {
    padding: 2rem;
    gap: 2rem;

    & .progress-container {
      gap: 0.75rem;

      & > p {
        font: var(--text-md);

        & span {
          font: var(--title-md);
        }
      }
    }

    & .gift-icon {
      width: 72px;
      height: 72px;

      & img {
        width: 36px;
        height: 36px;
      }
    }
  }
}
